.header { background: $head-bg; }

.header-inner { position: relative; }

@media (max-width: 767px) {
    .hidden-xs {
        display:none!important
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .hidden-sm {
        display:none!important
    }
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
