@font-face {
  font-family: "Yanzhi";
  src: url("../fonts/Yanzhi.ttf") format('truetype');
}

.poem {
  font-family: 'Yanzhi';
  text-align: center;
  font-size: 36px;
  -webkit-user-select:none ;
  -moz-user-select:none;
  user-select:none;
}